Node-red.json
[{"id":"bb878a66.24e908","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fdcf2b5d.1335f8","type":"http in","z":"bb878a66.24e908","name":"","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":140,"y":160,"wires":[["ea53edf2.2c6c2"]]},{"id":"f4989565.ab95e8","type":"http response","z":"bb878a66.24e908","name":"","statusCode":"","headers":{},"x":650,"y":160,"wires":[]},{"id":"ea53edf2.2c6c2","type":"template","z":"bb878a66.24e908","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"plain","template":"*{\npadding: 0px;\nmargin: 0px;\nfont-family: poppins, sans-serif;\nfont-weight: 700;\nbox-sizing: border-box;\n}\n\n#header{\npadding: 20px;\nwidth: 100%;\nbackground: #FFF;\ntext-align: center;\ndisplay: flex;\nflex-direction: row;\njustify-content: space-evenly;\nalign-items: center;\n}\n\n#header #logo{\nfont-style: italic;\nfont-size: 20px;\n}\n\n#header #logo span{\ncolor: #564FCC;\n}\n#header nav{\ncolor: #000;\n}\n\n#header nav a{\nfont-size: 14px;\ntext-decoration: none;\npadding: 10px;\ntext-align: center;\ncolor: black;\n}\n\n#header nav a:hover{\nopacity: 0.9;\n}\n#header nav a:last-child{\ncolor: white;\nbackground: #6C63FF;\npadding: 10px 20px;\nmargin-left: 30px;\nborder-radius: 30px;\n}\n#container{\noverflow: hidden;\ndisplay: flex;\nflex-direction: row;\njustify-content: center;\npadding-top: 20px;\nheight: 575px;\n}\n#bg-container{\nwidth: 50%;\n}\n#bg-container svg{\nwidth: 100%;\nheight: 90%;\n}\n#content-container{\nwidth: 30%;\ndisplay: flex;\nflex-direction: column;\njustify-content: center;\n}\n#content-container h1{\ncolor: #564FCC;\nfont-weight: 900;\nfont-size: 80px;\nline-height: 0.9em;\nmargin-bottom: 30px;\n}\n#content-container p{\nline-height: 1.8em;\nfont-weight: 500;\n}\n#content-container button{\nborder: none;\noutline: none;\ncolor: #FFF;\nbackground-color: #6C63FF;\npadding: 16px 0px;\nborder-radius: 40px;\nfont-size: 16px;\nwidth: 160px;\nmargin-top: 30px;\ncursor: pointer;\n}\n#content-container button:hover{\nopacity: 0.9;\n}","output":"str","x":330,"y":160,"wires":[["edc43788.45cf88"]]},{"id":"edc43788.45cf88","type":"template","z":"bb878a66.24e908","name":"Html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n   <head>\n      <title>SafeShopping</title>\n      <link rel=\"stylesheet\" href=\"style2.css\" type=\"text/css\">\n   </head>\n   <style>\n    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700');\n    </style>\n    <style>{{{payload.style}}}</style>\n    <script>\n  window.watsonAssistantChatOptions = {\n      integrationID: \"3ab4463f-9e91-45fb-b8ad-d146bdfb75e9\", // The ID of this integration.\n      region: \"us-south\", // The region your integration is hosted in.\n      serviceInstanceID: \"1b248c69-cac9-4f1a-b1c4-c4fa9d335c0e\", // The ID of your service instance.\n      onLoad: function(instance) { instance.render(); }\n    };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n    document.head.appendChild(t);\n  });\n</script>\n<head>\n     <link href=\"https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700\" rel=\"stylesheet\">\n</head>\n   <body>\n      <div id=\"header\">\n         <div id=\"logo\">\n            <h3><span>Safe</span> Shopping</h3>\n         </div>\n         <nav>\n            <a href=\"#\">HOME</a>\n            <a href=\"#\">ABOUT</a>\n            <a href=\"#\">COVID-19</a>\n            <a href=\"#\">Shop Now</a>\n         </nav>\n      </div>\n    <div id=\"container\">\n   <div id=\"content-container\">\n      <h1>Safe Shopping</h1>\n      <p>SafeShopping is a solution that raises up due to Covid-19 pandemic to help you with your daily shopping. It gives you the oppotunity to be protected from the contamination. Our website provides all the essentials during this health crisis...</p>\n      <button>Read More</button>\n   </div>\n   <div id=\"bg-container\">\n      <img src=\"https://image.freepik.com/free-vector/credit-card-with-dollar-coin-users-e-commerce-online-shopping-financial-operations-plastic-card-mobile-payment-banking-concept-vector-isolated-illustration_335657-2224.jpg\" alt=\"image\">\n   </div>\n\t</div>\n\n   </body>\n</html>","output":"str","x":490,"y":160,"wires":[["f4989565.ab95e8"]]}]